:root {
    --img-height: 0;
    --div-height: 25vh;
    --mb-carousel-height: max(100vh, 700px);
    --mb-hero-circle-height: max(100vh, 700px);
    --mb-hero-height: 100%;
    --mb-hero-right-height: 45%;
    --section1-height: auto;
}

body {
    background-color: white;
    overflow-x: hidden !important;
    width: 100vw;
}

/* ************************************* */
.loader {
    background-color: white;
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid white;

    animation: spin 1s linear infinite;
}

.hide-overflow {
    overflow: hidden !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ****************************** */

.mb-title {
    padding: 10px 0;

    font-size: var(--xx-big);
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    font-weight: 800 !important;
}

.mb-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--main-color);
    width: 90%;
    height: .5rem;
    border-radius: 1rem;
}

/* ********************************* */

.div {
    height: var(--div-height);
}

.div101 {
    height: var(--mb-carousel-height);
}

/*  */

.carousel-wrapper {
    font-size: var(--parent-default);
    width: 100vw;
    height: var(--mb-carousel-height);

    overflow: hidden;
    position: fixed;
    top: 0;
}

.hero-circle {
    width: 100%;
    height: var(--mb-hero-circle-height);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    clip-path: ellipse(80% 85% at 50% 7%);
    background-color: var(--main-color);
    background: var(--circle-lr);
}

.lp-navbar {
    font-size: var(--default);
    margin: 2rem auto;
    width: 90%;
    padding: .8rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: var(--big);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--txt2);
}

.lp-navlinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    font-size: var(--default);
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--txt2);
}

.active {
    font-weight: 400;
    border-bottom: 2px solid var(--txt2);
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mb-login {
    text-transform: capitalize;
    padding: 0 1.2em 0 3em;
    height: 2.5em;
    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;

    border-radius: 2rem;
    border: 2px solid var(--txt2);
    color: var(--txt2);
    font-weight: 400;
    font-size: var(--small);
}

.icon {
    width: 2.5em;
    height: 2.5em;

    position: absolute;
    top: -2px;
    left: -2px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--txt2);
    border-radius: 50%;
    overflow: hidden;
}

.icon i {
    font-size: 1.8em;
    margin-top: .5em;
}

.mb-rq {
    padding: 0 1.5em;

    height: 2.5em;

    background-color: var(--txt2);
    color: var(--main-color);

    border-radius: 2rem;
    font-weight: 600;
    font-size: var(--small);
    text-transform: capitalize;
}

.mb-rq i {
    margin-right: 5px;
    font-size: 1rem;
    transform: rotate(25deg);
}

.hero {
    margin: 5rem auto 0 auto;
    width: 90%;
    height: var(--mb-hero-height);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.2rem;
}

.hero .left {
    width: 45%;

    color: var(--txt2);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main-mb-title {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: var(--x-big);
    font-weight: 800;
}

.hero .left>p {
    font-size: var(--big);
    line-height: 1.1em;
    font-weight: 300;
}

.hbtns {
    margin-top: 20px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .action-btn {
    font-size: var(--default);
    text-transform: capitalize;
    background-color: var(--txt2);
    color: var(--main-color);
    padding: .4em 1em;
    border-radius: 2rem;
    font-weight: 600;
}

.hero .action-btn2 {
    font-size: var(--default);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 300;
}

.hero .action-btn i,
.hero .action-btn2 i {
    margin-right: 10px;
}

.hero .ratings {
    font-size: var(--default);
    margin-top: 15px;
    width: fit-content;
    padding: .4em 1.5em;

    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--txt2);
    border-radius: 2rem;
}

.hero .person {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
    height: 1.8rem;
}

.hero .person1 {
    left: 1rem;
    z-index: 1;
}

.hero .person2 {
    left: 2rem;
    z-index: 2;
}

.hero .person3 {
    left: 3rem;
    z-index: 3;
}

.hero .person4 {
    left: 4rem;
    z-index: 4;
}

.hero .stars {
    margin-left: 5rem;
    color: var(--yellow);
}

.hero .stars i {
    font-size: var(--small);
    margin-left: -3px;
}

.hero .ratings p {
    font-weight: 300;
    font-size: var(--small);
}

/*  */

.hero .right {
    width: 45%;
    height: var(--mb-hero-right-height);

    position: relative;
}

.hero .inputs {
    width: .1px;
    height: .1px;

    display: inline;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    opacity: 0;
}

.hero .mb-carousel-item {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    transition: all 300ms;
}

.hero .mb-carousel-item img {
    width: 100%;
    object-fit: contain;
}

#carousel-item1 {
    left: 150vw;
}

#carousel-item2 {
    left: 150vw;
}

#carousel-item3 {
    left: 150vw;
}

.hero .mb-carousel-item .circle {
    position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3em;
    height: 3em;
    background-color: var(--txt2);
    border-radius: 50%;

    font-size: var(--big);
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
    box-shadow: var(--light-border);
}

.hero .mb-carousel-item .circle1 {
    animation: floating 5s ease-in-out infinite;
    animation-delay: 200ms;

    top: -2em;
    left: -1em;
}

.hero .mb-carousel-item .circle2 {
    animation: floating 6s ease-in-out infinite;
    animation-delay: 200ms;

    top: var(--img-height);
    left: -2em;
}

.hero .mb-carousel-item .circle3 {
    animation: floating 7s ease-in-out infinite;
    animation-delay: 200ms;

    top: -0.8em;
    right: -1.2em;
}

.visible {
    left: 0 !important;
}

.visible img {
    box-shadow: var(--bold-shadow);
    animation: floating 4s ease-in-out infinite;
}

.static {
    position: absolute;
    top: calc(var(--div-height) * 3);
}

/*  */

.go-down {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;

    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--txt2);
    animation: pulse-animation 3s infinite;
    cursor: pointer;
    transition: all 300ms;
}

.go-down i {
    font-size: 1rem;
    transform: rotate(90deg);
    color: var(--txt2);
    transition: all 300ms;
}

/* ******************************************** */

.section1 {
    min-height: var(--section1-height);
    font-size: var(--parent-default);
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow-x: hidden;
}

.section1 .left {
    line-height: var(--xx-big);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.section1 h2::before {
    content: '?';
    position: absolute;
    top: -20px;
    right: -0.75em;
    transform: rotate(20deg);

    color: var(--main-color);
    font-weight: 700;
    font-size: var(--x-big);
    animation: floating2 6s ease-in-out infinite;
}

.section1 .left p {
    font-size: var(--big);
    font-weight: 400;
}

.learn-more {
    padding: .5rem 2rem;
    font-weight: 300;
    font-size: var(--big);
    text-transform: capitalize;

    background-color: var(--main-color);
    background: var(--action-btn-lr);
    border-radius: 4rem;
    color: var(--txt2);
}

.section1 .right {
    width: 40%;
    height: 31.3rem;
}

.photoshop-effect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb-tile {
    width: 32%;
    height: 100%;
    border-radius: 10px;

    position: relative;
    background-image: url('../images/Person.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tile1 {
    background-position: 20%;
    transform: translateY(-20px);

}

.tile2 {
    background-position: 50%;
}

.tile3 {
    background-position: 80%;
    transform: translateY(-15px);
}

/* ******************************************** */
.section2 {
    margin-top: 150px;

    font-size: var(--parent-default);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;
}

.section2 .header {
    line-height: var(--big);
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section2 .header p {
    margin-top: 1rem;
    font-size: var(--big);
    line-height: 2.5rem;
    word-wrap: normal;
    text-align: center;
    width: 37.5rem;
}

.section2 .body {
    width: 100%;
    min-height: 52rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.section2 .body .left {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    width: 46%;
    height: 100%;

    position: relative;
}

.s2-circle {
    width: 50rem;
    height: 50rem;

    position: absolute;
    top: 0;
    left: -25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--main-color);
    background: var(--circle-lr);
}

.section2 .left .image-container {
    width: 100%;
    height: 55%;
}

.section2 img {
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: var(--normal-shadow);
}

.section2 .right {
    margin-right: 5%;
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.features {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.feature,
.feature2 {
    white-space: nowrap;
    padding: 0 .5rem 0 3.1rem;
    text-align: center;
    height: 3rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: 2px solid var(--main-color);
    color: var(--txt2);
    text-transform: capitalize;
}

.feature2 {
    background-color: var(--main-color);
}

.feature p,
.feature2 p {
    font-size: var(--big);
    font-weight: 500;
    color: var(--main-color);
}

.feature2 p {
    color: var(--txt2);
}

.n {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    position: absolute;
    top: -2px;
    left: -2px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--txt);
    color: var(--txt2);
    border: 2px solid var(--txt);
    font-size: var(--big);
    font-weight: bold;
}

.s2-action {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 4rem;

    font-size: var(--big);
    background-color: var(--main-color);
    background: var(--action-btn-lr);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 400;
}

/* ******************************************** */

.section3 {
    font-size: var(--parent-default);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section3 .partners {
    margin-top: 50px;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section3 .partners .row1,
.section3 .partners .row2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section3 .partner {
    padding: 2px 40px;

    text-align: center;
    font-size: var(--x-big);
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
}

.section3 p {
    font-size: var(--big);
    color: var(--main-color);
    text-align: center;
}

/* ******************************************** */
.section4 {
    font: var(--parent-default);

    display: flex;
    align-items: center;
    justify-content: center;
}

.s4-circle {
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 50%;

    position: relative;
    background-color: var(--main-color);
    background: var(--circle-lr);
}

.section4 .image-container {
    position: absolute;
    width: 50%;
}

.section4 .image-container img {
    width: 100%;
    object-fit: contain;
    box-shadow: var(--bold-shadow), var(--light-shadow);
    border-radius: 7px;
    transition: all 300ms;
}

.section4 .screen1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    animation: screen1Floating 6s ease-in-out infinite;
}

.section4 .screen2 {
    top: 50%;
    left: 0;
    transform: translateY(-44%) rotate(-10deg);
    z-index: 2;
    animation: screen2Floating 6s ease-in-out infinite;
}

.section4 .screen3 {
    top: 50%;
    right: 0;
    transform: translateY(-44%) rotate(10deg);
    z-index: 2;
    animation: screen3Floating 6s ease-in-out infinite;
}

/* ******************************************** */
.section5 {
    font-size: var(--parent-default);
    margin: 100px auto;
    width: 50%;
    min-height: 100vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section5 h2 {
    padding: 5px 0;
    font-size: var(--xx-big);
    text-transform: capitalize;
}

.section5 .circle-container {
    margin-top: 20px;
    height: 3rem;
    width: fit-content;
    padding: 1.3rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--main-color);
    border-radius: 4rem;
}

.section5 .circle-container .circle {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.section5 .circle-container p {
    text-transform: capitalize;
    font-size: var(--x-big);
    font-weight: 600;
}

.section5>p {
    margin-top: 20px;

    width: 80%;
    font-size: var(--big);
    line-height: var(--big);
}

.s5-action {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 4rem;

    font-size: var(--big);
    background-color: var(--main-color);
    background: var(--action-btn-lr);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 500;
}

/* intersection observer */

.slide-from-left {
    transform: translateX(-25%);
}

.slide-from-right {
    transform: translateX(25%);
}

.rotate-from-top {
    transform: rotate(-45deg);
}

.fade-in {
    opacity: 0.3;
    transition: opacity 400ms ease-in, filter 400ms ease-in, transform 800ms ease-in;
}

.fade-in.appear {
    opacity: 1 !important;
    filter: grayscale(0) !important;
    transform: translateX(0) rotate(0) !important;
}

/* ******************************************** */

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, -3px) rotate(5deg);
    }

    50% {
        transform: translate(0, 5px) rotate(9deg);
    }

    100% {
        transform: translate(0, -3px) rotate(5deg);
    }
}

@keyframes screen1Floating {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -53%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes screen2Floating {
    0% {
        transform: translateY(-44%) rotate(-10deg);
    }

    50% {
        transform: translateY(-47%) rotate(-10deg);

    }

    100% {
        transform: translateY(-44%) rotate(-10deg);
    }
}

@keyframes screen3Floating {
    0% {
        transform: translateY(-44%) rotate(10deg);
    }

    50% {
        transform: translateY(-47%) rotate(10deg);
    }

    100% {
        transform: translateY(-44%) rotate(10deg);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

/* ********************************************************* */
@media (max-width: 1100px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 30px;
    }
}